<div class="container">
  <script>
    function myFunction(input) { 
        let answers = 
        {'Apple' : 'I am a fruit that starts with the letter A, sometimes I am green and other times I am red. I come from a tree, what am I?', 
         'Banana' : 'I am a curved, yellow fruit with a thick skin and a soft flesh. If you eat me too much you might be called the monkey. What am I?',
         'Orange' : 'I am a fruit that starts with an O, you must peel me in order to eat me. I come in slices. What am I ?'
        }; 
        let keys = Object.keys(answers);
        let wordIndex = input - 2;
        runSpeechRecognition(keys[wordIndex]);}
  </script>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h1>Stage 1</h1>
      <button onclick="myFunction({{word}})">Start Speaking</button>
      <span id="action"></span>
      <br />
      <br />
      <div id="output" class="hide"></div>
    </div>
    <div class="col-4">
        <form action="/stage1/{{nextStage}}">
        <input type="submit" id="nextStage" value="Next Stage" class="hide">
        </form>
    </div>
  </div>
</div>

{{!-- <div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Stage 2</h1>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="mainScreen">
                <div class="spacer"></div>
                <h4 class="diplay">fruits</h4>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus tempora deserunt incidunt iure sunt dolor possimus impedit fuga. Harum doloribus, dolorem autem alias amet hic qui ducimus eaque vel. Enim!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-1">

        </div>
        <div class="col-4">
            <div class="sideNav">
                <h5>Player Name : {{player}}</h5>
                <h5>Experience : {{exp}}</h5>
                <h5>Level : {{Level}}</h5>
                <h5>Score : {{score}}</h5>

            </div>
        </div>
    </div>
</div> --}}